<section class="container">
    <div class="footer">
        <h2 class="section__title">footer</h2>
    </div>
<div id="qooi-counter">
    <a style="display:none;" href="http://qooi.ru/" title="Бесплатный счетчик посещений на сайт">
        <img src="http://qooi.ru/counter/standard/009.png" alt="Счетчик посещаемости и статистика сайта">
    </a>
    Визиты: <div id="qooi-counter-visits"></div>
    Просмотры: <div id="qooi-counter-views"></div>
</div>
<script type="text/javascript" src="http://qooi.ru/counter.js"></script>
</section>