<section class="container hero">
<div class="hero__section">
    <article>
    <p>Need practice</p>
    <p>Need work</p>
    <p>Need money</p>    
    </article>
    <ul class="social__list">
        <li class="social__item">
            <a href="https://github.com/asst199162/project2022-icecream" target="_blank" class="social__link">
                <svg class="social__icon" width="19" height="19">
                    <use href="./images/svg/icon.svg#github"></use>
                </svg>
            </a>
        </li>
        <li class="social__item">
            <a href="https://web.tlgrm.app/#/login" target="_blank" class="social__link">
                <svg class="social__icon" width="19" height="19">
                    <use href="./images/svg/icon.svg#telegram"></use>
                </svg>
            </a>
        </li>
    
        <li class="social__item">
            <a href="https://uk-ua.facebook.com/" target="_blank" class="social__link">
                <svg class="social__icon" width="19" height="19">
                    <use href="./images/svg/icon.svg#icon-mail"></use>
                </svg>
            </a>
        </li>
    </ul>

    <h1 class="section__title hero__title">Yurkevich<br> Stanislav</h1>
    
</div>
<div class="foto">
    <img srcset=""
    src="images/foto.png" 
    alt="my photo" />
</div>

</section>
