<section class="container portfolio">
        <div class="portfolio__box">
            <div class="portfolio__img">
                <img src="images/work.jpg" alt="">
                <div class="portfolio__mask">
                    <a class="portfolio__link"
                        href="https://asst199162.github.io/project2022-icecream/" target="_blank">SHOW NOW</a>
                </div>
            </div>
        </div>
    
        <div class="portfolio__box">
            <div class="portfolio__img">
                <img src="images/work1.jpg" alt="">
                <div class="portfolio__mask">
                    <a class="portfolio__link" href="https://asst199162.github.io/goit-markup-hw-08/index.html"
                        target="_blank">SHOW NOW</a>
                </div>
            </div>
        </div>
    
        <div class="portfolio__box">
            <div class="portfolio__img">
                <img src="images/work2.jpg" alt="">
                <div class="portfolio__mask">
                    <a class="portfolio__link" href=""
                        target="_blank">SHOW NOW</a>
                </div>
            </div>
        </div>

</section>
