<section class="container skills">
    <h2 class="section__pre-title "> Skills</h2>
    <ul class="skills__list">
        <li class="skills__item">
        <p class="skills__text">HTML</p>
            <div class="cssload-wrapper">
                <div class="cssload-border">
                    <div class="cssload-whitespace">
                        <div class="cssload-line">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="skills__item">
        <p class="skills__text">SASS</p>
            <div class="cssload-wrapper">
                <div class="cssload-border">
                    <div class="cssload-whitespace">
                        <div class="cssload-line">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="skills__item">
            <p class="skills__text">CSS</p>
                <div class="cssload-wrapper">
                    <div class="cssload-border">
                        <div class="cssload-whitespace">
                            <div class="cssload-line">
                            </div>
                        </div>
                    </div>
                </div>
        </li>
    </ul>
    <ul class = "skills__list">
        <li class="skills__item">
            <p class ="skills__text">JS</p>
            <div class="cssload-loader"></div>
        </li>
    </ul>
    <p class="skills__text">new skills coming soon...</p>
</section>